*{
    box-sizing: border-box;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(240, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(135deg, #ff0808 10%, #ff00b3 100%);
}
.container{
    background-color: #ffff;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    padding: 40px;
}
h2{
    text-align: center;
    
    background: linear-gradient(90deg, #ff00b3 5%,   #ff0808 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line{
    background: linear-gradient(135deg, #ff0808 10%, #ff00b3 100%);
    padding: 3px;
    width: 90px;
    border-radius: 50px;
    margin: 2px 0 30px 80px;
    
    
}

label{
    color:#646464;
}
input{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #a19e9e;
    font-size: 16px;
    outline: none;
}
input:focus {
    border:1px solid #c202a2 ;
    background: #ffff;
}

input[type='submit']{
    background-image: linear-gradient(135deg, #ff0808 10%, #ff00b3 100%);
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.3);
}

input[type='submit']:hover{

    background-image: linear-gradient(135deg, #d30303 10%, #c202a2 100%);
}

.error{
    color:red;
}

